In [5]:
import pandas as pd
import numpy as np
import re

In [39]:
db = pd.read_excel("Data/size_attribute_prev.xlsx")

In [40]:
df = pd.DataFrame(db)
df.head()

       code label-en_US attribute  sort_order
0         R           R      size           0
1     ADULT       Adult      size           1
2  4X_LARGE    4X Large      size           2
3     LARGE       Large      size           3
4  3X_LARGE    3X Large      size           4

In [41]:
for i in range(len(df['code'])):
    if re.match(r"\d+_X_\d+",df.iloc[i,0]):
        # print(df.iloc[i,1])
        if not re.match("\d+\" x \d+\"",df.iloc[i,1]):
            val = re.findall(r"\d+",df.iloc[i,1])
            new_val = val[0]+"\" x "+val[1]+"\""
            df.iloc[i,1] = new_val
            print(new_val)
        elif re.match("\d+\" x \d+\"",df.iloc[i,1]):
            print(df.iloc[i,1])

28" x 36"
36" x 45"
18" x 36"
35" x 45"
24" x 18"
20" x 34"
35" x 48"
36" x 60"
35" x 50"
35" x 55"
24" x 36"
27" x 45"
36" x 36"
24" x 24"
28" x 46"
28" x 38"
26" x 45"
3" x 270"
24" x 42"
18" x 45"
24" x 34"
3" x 180"
28" x 55"
35" x 36"

In [42]:
for i in range(len(df['code'])):
    if re.match(r"\d+_X_\d+",df.iloc[i,0]):
        print(df.iloc[i,0],"\t",df.iloc[i,1])

28_X_36 	 28" x 36"
36_X_45 	 36" x 45"
18_X_36 	 18" x 36"
35_X_45 	 35" x 45"
24_X_18 	 24" x 18"
20_X_34 	 20" x 34"
35_X_48 	 35" x 48"
36_X_60 	 36" x 60"
35_X_50 	 35" x 50"
35_X_55 	 35" x 55"
24_X_36 	 24" x 36"
27_X_45 	 27" x 45"
36_X_36 	 36" x 36"
24_X_24 	 24" x 24"
28_X_46 	 28" x 46"
28_X_38 	 28" x 38"
26_X_45 	 26" x 45"
3_X_270 	 3" x 270"
24_X_42 	 24" x 42"
18_X_45 	 18" x 45"
24_X_34 	 24" x 34"
3_X_180 	 3" x 180"
28_X_55 	 28" x 55"
35_X_36 	 35" x 36"

In [46]:
for i in range(len(df['code'])):
    if re.match(r"\d*_*\d+$",df.iloc[i,0]):
        if not df.iloc[i,1].endswith("\""):
            df.iloc[i,1] = str(df.iloc[i,1])+"\""
        if not df.iloc[i,0].endswith("in"):
            new_val2 = df.iloc[i,0]+"in"
            df.iloc[i,0]=new_val2
        print(df.iloc[i,0],'\t',df.iloc[i,1])

7in 	 7"
10in 	 10"
8in 	 8"
9in 	 9"
14in 	 14"
18in 	 18"
6in 	 6"
11in 	 11"
36in 	 36"
10_5in 	 10.5"
12in 	 12"
24in 	 24"
9_5in 	 9.5"
22in 	 22"
23in 	 23"
42in 	 42"
25in 	 25"
8_5in 	 8.5"
15in 	 15"
20in 	 20"
13in 	 13"
40in 	 40"
21in 	 21"
11_5in 	 11.5"
28in 	 28"
26in 	 26"
16in 	 16"
6_5in 	 6.5"
45in 	 45"
48in 	 48"
7_5in 	 7.5"
17in 	 17"
4in 	 4"
5in 	 5"
19in 	 19"
54in 	 54"

In [34]:
df.to_excel("Data/export_size.xlsx",index=None)