In [1]:
import pandas as pd
import numpy as np
import requests
import json

In [2]:
db = pd.read_csv("Data/indi_nc_prices.csv")

In [3]:
pricePO = pd.DataFrame(db)
pricePO.head()

             SKU  Price
0  10-122071-000  49.27
1  15-150110-000  12.66
2         15F538  23.49
3          1CH72   3.00
4          1VAC4  13.02

In [5]:
prods = pd.DataFrame(db,columns=["SKU"])
prods.head()

             SKU
0  10-122071-000
1  15-150110-000
2         15F538
3          1CH72
4          1VAC4

In [6]:
def product(sku,price):
    indiProd = {
                    "price": str(price),
                    "store_id": str(0),
                    "sku": str(sku),
                }
    return indiProd
def query(payload):
    query = {
                "prices": payload
            }
    return query

In [9]:
prod_list = list(prods["SKU"])
payload = []
req = []
reqNum = 1
with open("Output/JSON/missingProdsPO.csv","a") as file:
            file.write("sku"+"\n")
file.close()
for i in range(len(pricePO)):
    sku = pricePO.iloc[i,0]
    if str(sku) not in prod_list:
        with open("Output/JSON/missingProdsPO.csv","a") as file:
            file.write(str(sku)+"\n")
        continue
    else:
        price = pricePO.iloc[i,1]
        if not pd.isna(price):
            payload.append(product(sku,price))
        else:
            payload.append(product(sku,10000))
            with open("Output/JSON/NoPriceProductsPO.csv","a") as nop:
                nop.write(str(sku)+"\n")
                nop.close()
        if len(payload)>=10000:
            singleLoad = query(payload)
            req.append(json.dumps(singleLoad))
            print(len(payload))
            with open("Output/JSON/PriceJson/requestPO"+str(reqNum)+".json","a") as j:
                j.write(json.dumps(singleLoad))
                j.close()
            reqNum+=1
            payload = []
with open("Output/JSON/PriceJson/requestLastPO.json", "a") as j:
    singleLoad = query(payload)
    req.append(json.dumps(singleLoad))
    print(len(payload))
    j.write(json.dumps(singleLoad))
    j.close()
file.close()

280

In [30]:
# nprodList = list(nprods["sku"])
# nreq = []
# for i in nprodList:
#     nreq.append(product(i,10000))
# singleLoad = query(nreq)
# req = []
# req.append(json.dumps(singleLoad))
# with open("Output/JSON/npriceprods.json",'a') as f:
#     f.write(json.dumps(singleLoad))

In [10]:
def authToken(url_key,username,password):
    r1 = requests.post(url=url_key,data=json.dumps({"username":username,"password":password}),headers={"Content-Type":"application/json"})
    return r1.json()
base_cicero_url = "https://cic.humdash.com"
ext = "/rest/V1/integration/admin/token"
cicero_token = authToken(base_cicero_url+ext,"humcommerce","rPK9!BU2blv!")
cicero_token

'eyJraWQiOiIxIiwiYWxnIjoiSFMyNTYifQ.eyJ1aWQiOjI1LCJ1dHlwaWQiOjIsImlhdCI6MTY3NzgyMTA1MiwiZXhwIjoxNjc4MTgxMDUyfQ.YZyY5X5IHeK0GppHxPDFztx7B4XvhfwuZrm1LmRyYOs'

In [11]:
cicero_url = "https://cic.humdash.com/rest/V1/products/base-prices"

headers = {"Authorization":"Bearer {}".format(cicero_token),\
            "Content-Type": "application/json"}

responses = []
for i in req:
    responses.append(requests.post(url = cicero_url, headers=headers,data=i))

In [12]:
responses

In [13]:
responses[0].json()

[]